name: Run Node.js App

on:
  push:
    branches:
      - main

jobs:
  run-node:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Run the app
        run: node app.js
